
body {
  background-color: black;
  position: absolute;
}


#eyes {
  padding: 10px 10px 10px 10px;
  margin-top: 100px;
  height: 200px;
  z-index: 0;
}

@keyframes eyesmove{
  0% {
    transform: translate(0px,0px);
  }
  25% {
    transform: translate(30px,0px);
  }

  50% {
  transform: translate(0px,0)px;
  }

  75% {
  transform: translate(-30px,0px);
  }

  100% {
  transform: translate(0px,0px);
  }
}

.eyeball-1 {
  position: absolute;
  height: 190px;
  width: 190px;
  top: 115px;
  left: 170px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
  animation: eyesmove 2s linear infinite;
}

.eyeball-2 {
  position: absolute;
  height: 190px;
  width: 190px;
  top: 115px;
  left: 900px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
  animation: eyesmove 2s linear infinite;
}

