body{
	background-color: #231f20;
}

a{
	color: white;
	text-decoration: none;
}

	a:hover{
		color: #da7cad;
	}

a.wh{
	color: #999ea3;
	text-decoration: none;
}
	a.wh:hover{
		color: white;
	}

a.item{
	color: white;
}

a.live {
	color: #288e44;
	text-decoration: none;
}
	a.live:hover{
		color: #da7cad;
	}

.header {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	width: 99vw;
	align-content: center;
}

.home{
	display: flex;
	margin-left: 150px;
	width: 32.3vw;
	justify-content: left;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	background-color: #231f20;
}
	.home:hover{
		color: #da7cad;
	}


.whph{
	display: flex;
	width: 32.3vw;
	justify-content: center;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	color: white;
	font-style: normal;
	background-color: #231f20;
}

.read{
	display: flex;
	margin-right: 150px;
	width: 32.3vw;
	justify-content: right;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	background-color: #231f20;
}

	.read:hover{
		color: #da7cad;
		cursor: pointer;
		align-content: center;
	}

.hello {
	position: absolute;
	width: 100vw;
	text-align: center;
}

.hello1{
	position: absolute;
	margin-top: 160px;
	width: 100vw;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 700;
	font-style: normal;
	justify-content: center;
	color: #da7cad;
	font-size: 150pt;
	animation-name: hello1;
	animation: hello1c 3s infinite linear normal;
}

	@keyframes hello1c {
		0% {color: #da7cad;}
		25% {color: #eeba1d;}
		50% {color: #17488d;}
		100% {color: #288e44;}
	}

.content{
	display: flex;
	flex-wrap: wrap;
	margin-top: 680px;
	justify-content: center;
	width: 100wv;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: white;
	margin-left: 200px;
	margin-right: 200px;
	column-gap: 60px;
	row-gap: 100px;
}

	.rock-garden{
		display: flex;
		background-color:#288e44;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 15vw;
		height: 10vh;
		border-radius: 0px 50px 50px 0px;
		transform: rotate(10deg);
		animation:float-rotate1 2s infinite ease normal;
	}

		.rock-garden:hover{
		background-color:#17488d;
		}	

	.interview{
		display: flex;
		background-color:#e691ba;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 10vw;
		height: 18vh;
		border-radius: 100px;
		transform: rotate(-10deg);
		animation:float-rotate2 2s infinite ease normal;
	}
		.interview:hover{
		background-color: #eeba1d;
		}	

	.P5-JS{
		display: flex;
		background-color:#17488d;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 15vw;
		height: 10vh;
		border-radius: 50px 50px 50px 50px;
		transform: rotate(-10deg);
		animation:float-rotate2 2s 1 infinite normal;
	}

		.P5-JS:hover{
		background-color: #288e44;
		}

	.Hover{
		display: flex;
		background-color:#eeba1d;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 10vw;
		height: 18vh;
		border-radius:100px;
		transform: rotate(10deg);
		animation:float-rotate2 2s infinite ease normal;
	}

		.Hover:hover{
		background-color: #e691ba;
		}

	.Wiki{
		display: flex;
		background-color:#e691ba;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 10vw;
		height: 18vh;
		border-radius: 100px;
		transform: rotate(-10deg);
		animation:float-rotate1 2s infinite ease normal;
	}

		.Wiki:hover{
		background-color: #eeba1d;
		}

	.Life{
		display: flex;
		background-color:#17488d;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 15vw;
		height: 10vh;
		border-radius: 50px 50px 50px 50px;
		transform: rotate(10deg);
		animation:float-rotate2 2s infinite ease normal;
	}

		.Life:hover{
		background-color: #288e44;
		}


	.CSS-ani{
		display: flex;
		background-color:#eeba1d;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 15vw;
		height: 10vh;
		border-radius: 0px 50px 50px 0px;
		transform: rotate(-10deg);
		animation:float-rotate1 2s infinite ease normal;
	}

		.CSS-ani:hover{
		background-color: #e691ba;
		}


	.JS-sketch{
		display: flex;
		background-color:#17488d;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		width: 10vw;
		height: 18vh;
		border-radius: 100px;
		animation:float-rotate2 2s infinite ease normal;

	}
		.JS-sketch:hover{
		background-color: #e691ba;
		}



	@keyframes float-translate{
    	0% { transform: translate(0,  0px);}
    	20%  { transform: translate(0, 15px); }
    	40%   { transform: translate(0, 0px); } 
    	80%   { transform: translate(0, -15px); }   
    	100%   { transform: translate(0, px); }  
}	

	@keyframes float-rotate1{
    	0% { transform: rotate(10deg); }
    	25% {transform: rotate(12deg)}
    	50% {transform: rotate(10deg) } 
    	80% { transform: rotate(-12deg)}   
    	100% {transform: rotate(10deg)}  
}	


	@keyframes float-rotate2{
    	0% { transform: rotate(10deg); }
    	25% {transform: rotate(-12deg)}
    	50% {transform: rotate(10deg) } 
    	80% { transform: rotate(12deg)}   
    	100% {transform: rotate(10deg)}  
}	


.black{
	display: flex;
	height: 40vh;
	width: 100vw;
	background-color:#231f20;
}

.end {
	display: flex;
	background-color: #e691ba;
	height: 5vh;
	just3ify-content: center;
	alig3n-items: center;

}

.end-text{
	margin-top: 5px;
	display: flex;
	align-content: center;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	animation: end 8s infinite linear reverse;
}

@keyframes end {
	0% {transform: translateX(100vw);}
	99% {opacity: 100%;}
	100% {opacity: 0%;}
}


@media screen and (max-width: 500px){
	.home{
		margin-left: 30px;
	}
	.read{
		margin-right: 30px;
	}
	.hello1{
		font-size: 90pt;
	}
	.content{
		margin-top: 550px;
		grid-row-gap: 70px;
	}
		.rock-garden{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}

		.interview{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}

		.P5-JS{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}
		.Hover{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}
		.Wiki{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}
		.Life{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}
		.CSS-ani{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}
		.JS-sketch{
			width: 40vw;
			height: 10vh;
			border-radius: 50px;
		}
.black{
	height: 20vh;
}
.end-text{
	font-size: 17px;
	width: 500px;
	animation: end 1s infinite linear reverse;
}

@keyframes end {
	0% {transform: translateX(35px);}
	99% {opacity: 100%;}
	100% {opacity: 0%;}
}


}

















