body{
	background: #efe8d3;
	margin: 0;
	border: 0;
	animation: bg 5s infinite;
}

a{
	color: #303d21;
	text-decoration: none;
}

a:hover{
	color: whitesmoke;
}

.main {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

	.enter{
		position: absolute;
		font-family: gopher,sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 38px;
		margin-top: 480px;
		margin-right: 230px;
		color: #303d21;
	}

.clouds{
	display: flex;
	flex-direction: row;
	margin-top:200px;
	margin-left:190px;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}
	.cloud-1{
		animation: move 5s infinite;
	}
	.cloud-3{
		animation: move 5s infinite;
	}

.clouds-2{
	margin-top:120px;
	margin-left: 2000px;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	animation: move 5s infinite;
}

@keyframes move{
	0% {transform: translateY(-15px);}
	50% {transform: translateY(15px)}
	100% {transform: translateY(-15px)}
}


@keyframes bg {
	0% {background-color:#efe8d3 ;}
	50% {background-color: #eddfbe;}
	100% {background-color: #efe8d3;}
}

