/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
  overflow: hidden;
}

.frame {
  top: 30px;
  left: 95px;
  width: 1000px;
  height: 600px;
  background: #d6c2bd;
  position: fixed;
  z-index: -3;
}

/* POT */
.pot-butt {
  position: fixed;
  top: 275px;
  left: 95px;
  width: 230px;
  height: 135px;
  border-radius: 0 0 75px 75px;
  background-color: #331d13;
  border: 2.3px solid black;
}

.pot-head {
  position: fixed;
  top: 245px;
  width: 230px;
  height: 62px;
  border-radius: 50%;
  background-color: black;
  border: 2.3px solid black;
}

.pot-handle {
  position: fixed;
  top: 230px;
  left: 190px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:#331d13;
  border: 2.3px solid black;
}

/* CANDLE-1 */

.candle1-base {
  position: fixed;
  top: 500px;
  left: 190px;
  width: 221px ;
  height: 53px ;
  border-radius: 50%;
  background-color: white;
  border: 2.3px solid black;

}

.candle1-body {
  position: fixed;
  top: 280px;
  left: 295px;
  width: 11px ;
  height: 240px ;
  background-color: #d9b349;
  border: 2.3px solid black;
}

.candle1-head {
  position: fixed;
  top: 260px;
  left: 283px;
  width: 35px ;
  height: 75px ;
  background-color: #d9b349;
  border: 2.3px solid black;
}

.candle1-wax {
  position: fixed;
  top: 165px;
  left: 290px;
  width: 21px ;
  height: 95px ;
  border-radius: 0 0 5px 5px;
  background-color: white;
  border: 2.3px solid black;
}

.candle1-wick {
  position: fixed;
  top: 140px;
  left: 298px;
  width: 5px ;
  height: 21px ;
  background-color: black;
  border: 2.3px solid black;
}

/* VASE */
.vase-top {
  position: fixed;
  top: 124px;
  left: 450px;
  width: 177px ;
  height: 327px ;
  border-radius: 0 0 45px 45px;
  background-color: #e2f2f0;
  border: 2.3px solid black;
}

.vase-bottom {
  position: fixed;
  top: 420px;
  left: 424px;
  width: 230px;
  height: 62px;
  border-radius: 50%;
  background-color: #e2f2f0;
  border: 2.3px solid black;
}

.vase-cover {
  position: fixed;
  top: 400px;
  left: 456px;
  width: 170px;
  height: 62px;
  border-radius: 50%;
  background-color: #e2f2f0;
  z-index: 1;

}


/* FRUIT-1 */
.fruit-1 {
  position: fixed;
  top: 445px;
  left: 480px;
  width: 218px;
  height: 135px;
  border-radius: 50%;
  transform: rotate(-14deg);
  background-color: #f7d716;
  border: 2.3px solid black;
  z-index: 2;
}

.fruit-1-stem {
  position: fixed;
  top: 455px;
  left: 680px;
  width: 13px;
  height: 37px;
  transform: rotate(-298deg);
  border-radius: 50px 50px 45px 45px;
  background-color: #331d13;
  border: 2.3px solid black;
  z-index: 2;

}

/* CANDLE-2 */
.candle2-body {
  position: fixed;
  top: 150px;
  left: 800px;
  width: 11px ;
  height: 240px ;
  background-color: #d9b349;
  border: 2.3px solid black;
}
.candle2-head {
  position: fixed;
  top: 120px;
  left: 788px;
  width: 35px ;
  height: 75px ;
  background-color: #d9b349;
  border: 2.3px solid black;
}

.candle2-wax {
  position: fixed;
  top: 33px;
  left: 795px;
  width: 21px ;
  height: 87px ;
  border-radius: 0 0 5px 5px;
  background-color: white;
  border: 2.3px solid black;
}

.candle2-wick {
  position: fixed;
  top: 20px;
  left: 803px;
  width: 5px ;
  height: 10px ;
  background-color: black;
  border: 2.3px solid black;
}

/* FRUIT-2 */
.fruit-2 {
  position: fixed;
  top: 340px;
  left: 770px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #dc8127;
  border: 2.3px solid black;
}

.fruit-2-head {
  position: fixed;
  top: 290px;
  left: 834px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #dc8127;
  border: 2.3px solid black;
}

.fruit-2-cover{
  position: fixed;
  top: 310px;
  left: 835px;
  width: 114px;
  height: 110px;
  border-radius: 50%;
  background-color: #dc8127;
  z-index: 2;
}

.fruit-2-stem {
  position: fixed;
  top: 265px;
  left: 885px;
  width: 13px;
  height: 37px;
  border-radius: 50px 50px 45px 45px;
  background-color: #331d13;
  border: 2.3px solid black;
}

/* TABLE+CLOTH */
.table {
  position: fixed;
  top: 350px;
  width: 1000px;
  height: 300px;
  background-color: #eacfc5;
  border: 2.3px solid black;
  z-index: -2;

}


.triangle-cloth-1 {
  position: fixed;
  left: 97px;
  top: 452px;
  width: 0px;
  height: 0px;
  border-left: 0px solid transparent;
  border-right: 900px solid transparent;
  border-bottom: 200px solid #fde9e0;
  z-index: -2;
}

.triangle-cloth-2 {
  position: fixed;
  left: 95px;
  top: 452px;
  width: 0px;
  height: 0px;
  border-left: 895px solid transparent;
  border-right: 105px solid transparent;
  border-top: 200px solid #fde9e0;
  z-index: -2;
}























